    body {
        background-image: url('../pictures/background.jpg');
    }
    
    .header {
        text-align: center;
        color: rgb(42, 42, 42);
        font-family: monospace;
    }
    
    .wrapper {
        height: 10rem;
        justify-content: space-between;
        display: flex;
        padding-top: 15rem;
        padding-bottom: 1rem;
    }
    
    .deck {
        height: 5.5rem;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        background-color: rgb(221, 255, 0);
        width: 5rem;
        margin-left: 38rem;
        text-align: center;
        background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(135deg, transparent 75%, #ccc 75%);
        background-size: 0.7rem 0.7rem;
        background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
    }
    
    .tossedCards {
        height: 5.5rem;
        width: 5rem;
        margin-left: 46rem;
        text-align: center;
        background-color: #fbf5d7;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        font-size: 2rem;
        display: none;
        color: rgb(104, 103, 103);
        position: absolute;
    }
    
    .tossed {
        font-size: 1.2rem;
    }
    
    .playerHand {
        margin: auto;
        width: 50%;
        height: 10rem;
        margin-bottom: 1rem;
        background-color: rgb(119, 230, 182);
        border: solid 0.5rem;
        border-color: rgba(137, 255, 204, 0.3);
        border-radius: 2rem;
        -webkit-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        -moz-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
    }
    
    .hands {
        position: absolute;
        height: 10rem;
        margin-left: 15rem;
        transform: rotate(342deg);
    }
    
    .selected1 {
        margin: auto;
        height: 1rem;
        width: 0.5rem;
        margin-top: 1rem;
        margin-left: 3.5rem;
        background-color: rgb(244, 255, 87);
        position: absolute;
        display: none;
    }
    
    .selected2 {
        margin: auto;
        margin-top: 1rem;
        margin-left: 11rem;
        height: 1rem;
        width: 0.5rem;
        position: absolute;
        background-color: rgb(221, 255, 0);
        display: none;
    }
    
    .selected3 {
        margin: auto;
        margin-left: 18.5rem;
        margin-top: 1rem;
        height: 1rem;
        width: 0.5rem;
        background-color: rgb(221, 255, 0);
        position: absolute;
        display: none;
    }
    
    .selectors {
        margin: auto;
        width: 50%;
        height: 0.3rem;
    }
    
    .cards {
        margin: auto;
        width: 50%;
        height: 10rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
    }
    
    .card1 {
        background-color: #fbf5d7;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        margin-top: 2rem;
        margin-left: 1rem;
        height: 5.5rem;
        width: 5rem;
        font-size: 2rem;
        position: absolute;
        display: none;
        -webkit-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        -moz-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
    }
    
    .card2 {
        background-color: #fbf5d7;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        height: 5.5rem;
        width: 5rem;
        margin-top: 2rem;
        margin-left: 8.5rem;
        font-size: 2rem;
        position: absolute;
        display: none;
        -webkit-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        -moz-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
    }
    
    .card3 {
        background-color: #fbf5d7;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        margin-top: 2rem;
        margin-left: 16rem;
        position: absolute;
        height: 5.5rem;
        width: 5rem;
        font-size: 2rem;
        display: none;
        -webkit-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        -moz-box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
        box-shadow: 0px 0px 76px -33px rgba(69, 69, 69, 1);
    }
    
    .buttons {
        padding-top: 0.2rem;
        margin: auto;
        width: 50%;
        text-align: center;
    }
    
    .increment {
        background-color: rgb(140, 188, 240);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .decrement {
        background-color: rgb(140, 188, 240);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .restart {
        background-color: rgb(140, 240, 185);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .toss {
        background-color: rgb(240, 140, 208);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }