    body {
        background-color: rgb(148, 148, 148);
    }
    
    .wrapper {
        height: 100%;
        /* margin: auto; */
        /* background-color: rgb(255, 234, 0); */
        justify-content: space-between;
        display: flex;
        padding-top: 15rem;
        padding-bottom: 1rem;
    }
    
    .deck {
        height: 5.5rem;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        background-color: rgb(221, 255, 0);
        width: 5rem;
        text-align: center;
        background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(135deg, transparent 75%, #ccc 75%);
        background-size: 0.7rem 0.7rem;
        /* Must be a square */
        background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
        /* Must be half of one side of the square */
    }
    
    .deck h2 {
        padding-top: 0.5rem;
    }
    
    .tossedCards {
        height: 5.5rem;
        width: 5rem;
        text-align: center;
        background-color: #ccc;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        font-size: 2rem;
    }
    
    .tossed {
        font-size: 1.2rem;
    }
    
    .playerHand {
        margin: auto;
        width: 50%;
        height: 10rem;
        margin-bottom: 1rem;
        background-color: darkorchid;
        /* text-align: center;
        display: flex; */
    }
    
    .selected1 {
        margin: auto;
        height: 1rem;
        width: 0.5rem;
        margin-top: 1rem;
        margin-left: 3.5rem;
        background-color: springgreen;
        position: absolute;
        display: none;
        /* display: none; */
    }
    
    .selected2 {
        margin: auto;
        margin-top: 1rem;
        margin-left: 11rem;
        height: 1rem;
        width: 0.5rem;
        position: absolute;
        background-color: springgreen;
        display: none;
    }
    
    .selected3 {
        margin: auto;
        margin-left: 18.5rem;
        margin-top: 1rem;
        height: 1rem;
        width: 0.5rem;
        background-color: springgreen;
        position: absolute;
        display: none;
    }
    
    .selectors {
        margin: auto;
        width: 50%;
        height: 0.3rem;
    }
    
    .cards {
        margin: auto;
        width: 50%;
        height: 10rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
    }
    
    .card1 {
        background-color: #ccc;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        margin: auto;
        height: 5.5rem;
        width: 5rem;
        font-size: 2rem;
    }
    
    .card2 {
        background-color: #ccc;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        margin: auto;
        height: 5.5rem;
        width: 5rem;
        font-size: 2rem;
    }
    
    .card3 {
        background-color: #ccc;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        border-color: rgb(221, 255, 0);
        margin: auto;
        height: 5.5rem;
        width: 5rem;
        font-size: 2rem;
    }
    
    .buttons {
        padding-top: 0.2rem;
        margin: auto;
        width: 50%;
        text-align: center;
    }
    
    .increment {
        background-color: rgb(240, 140, 208);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .decrement {
        background-color: rgb(240, 225, 140);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .restart {
        background-color: rgb(140, 188, 240);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }
    
    .toss {
        background-color: rgb(140, 240, 185);
        height: 2.5rem;
        width: 4rem;
        border-radius: 0.1rem;
        box-shadow: 0.2rem 0.1rem rgba(75, 75, 75, 0.4);
    }